* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* -------------
!!!!!!!!!!!!!!!
--------------- */
body {
  text-align: center;
  background-color: #0a0908;
  color: white;
}

/* -------------
!!!!!!Hamburger!!!!!!
--------------- */
.hamburger-menu {
  margin: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
  height: 5px;
  background: white;
  border-radius: 5px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}
.hamburger-menu:hover .bar-top {
  transform: rotate(45deg);
}
.hamburger-menu:hover .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.hamburger-menu:hover .bar-bottom {
  transform: rotate(-45deg);
}
/* ----------
!!!! Grid !!!!
----------- */
.grid {
  display: grid;
  grid-template-columns: point.2fr;
  grid-template-rows: point.5fr;
  grid-gap: 10px;
  background-color: #003049;
}
header {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
}

#logo {
  align-items: start;
  max-width: 20%;
}

#menu {
  max-width: 70%;
}
#hero {
  grid-template-columns: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  border: solid;
  margin-bottom: 30px;
  padding: 60px;
}
aside {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-bottom: 30px;
}

#sponsors {
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

footer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-bottom: 30px;
}
section,
aside,
footer {
  color: gainsboro;
}
/* ----------
    !!!! Grid inn Grid !!!!
    ----------- */
.castle-grid > div {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#Saint-michel {
  grid-column-start: 1;
  grid-row-start: 2;
}
#edinburgh {
  grid-column-start: 2;
  grid-row-start: 2;
}
#disney {
  grid-column-start: 3;
  grid-row-start: 3;
}
/* ----------
!!!! Text !!!!
----------- */
h2,
h1 {
  padding-bottom: 20px;
}
p {
  padding: 10px;
}
#copy-rights {
  color: gray;
}
/* ----------
!!!! Image !!!!
----------- */
#main-img {
  width: 450px;
  border-radius: 10px;
}

.aside-img {
  width: 70px;
  border-radius: 10px;
  margin-inline: 20px;
}
/* ---------------------------------------------------
!!!!!!!!!!!!!!!! Media query Start !!!!!!!!!!!!!!!!!!!
----------------------------------------------- */

@media (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #logo {
    align-items: start;
    max-width: 20%;
  }

  #menu {
    max-width: 70%;
  }
  #hero {
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  aside {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 30px;
    padding: 60px;
  }

  #sponsors {
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
  }
}

footer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-bottom: 30px;
}
/* ----------
    !!!! Grid, Grid !!!!
    ----------- */
.castle-grid > div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

#Saint-michel {
  grid-column-start: 1;
  grid-row-start: 2;
}
#edinburgh {
  grid-column-start: 2;
  grid-row-start: 2;
}
#disney {
  grid-column-start: 3;
  grid-row-start: 3;
}
/* ----------
!!!! Text !!!!
----------- */

/* ----------
!!!! Image !!!!
----------- */

.aside-img {
  width: 70px;
  border-radius: 10px;
}
