* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* -------------
!!!!!!!!!!!!!!!
--------------- */
body {
  text-align: center;
  background-color: #0a0908;
  color: white;
}

/* -------------
!!!!!!Hamburger!!!!!!
--------------- */
#menutoggle {
  opacity: 0;
}
.menubtn {
  position: fixed;
  top: 20px;
  width: 26px;
  height: 26px;
}
.menubtn > span,
.menubtn > span::before,
.menubtn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}
.menubtn > span::before {
  content: "";
  top: -8px;
}
.menubtn > span::after {
  content: "";
  top: 8px;
}
.menubox {
  display: block;
  position: fixed;
  top: 0;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
/* -------------
!!!!!!Test!!!!!!
--------------- */

/* ----------
!!!! Grid !!!!
----------- */
.grid {
  display: grid;
  grid-template-columns: point.2fr;
  grid-template-rows: point.5fr;
  grid-gap: 10px;
  background-color: #003049;
}
header {
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
}

#logo {
  align-items: start;
  max-width: 20%;
}

#menu {
  max-width: 70%;
}
#hero {
  grid-template-columns: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  border: solid;
  margin-bottom: 30px;
  padding: 60px;
}
aside {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-bottom: 30px;
  border: solid;
}

#sponsors {
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  text-align: center;
  margin-bottom: 30px;
}

footer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-bottom: 30px;
}
section,
aside,
footer {
  color: gainsboro;
}
/* ----------
    !!!! Grid, Grid !!!!
    ----------- */
.castle-grid > div {
  display: grid;
  grid-template-rows: repeat(3, fr);
  grid-template-columns: repeat(3, 1fr);
}

#Saint-michel {
  grid-column-start: 1;
  grid-row-start: 2;
}
#edinburgh {
  grid-column-start: 2;
  grid-row-start: 2;
}
#disney {
  grid-column-start: 3;
  grid-row-start: 3;
}
/* ----------
!!!! Text !!!!
----------- */
h2,
h1 {
  padding-bottom: 20px;
}
p {
  padding: 10px;
}
/* ----------
!!!! Image !!!!
----------- */
#main-img {
  width: 450px;
  border-radius: 10px;
}

.aside-img {
  width: 70px;
  border-radius: 10px;
}
/* ---------------------------------------------------
!!!!!!!!!!!!!!!! Media query Start !!!!!!!!!!!!!!!!!!!
----------------------------------------------- */

@media only screen and (max-whidt: 425px) {
  header {
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #logo {
    color: yellow;
    align-items: start;
    max-width: 20%;
  }

  #menu {
    color: yellow;
    max-width: 70%;
  }
  #hero {
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  aside {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-bottom: 30px;
    padding: 60px;
  }

  #sponsors {
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-bottom: 30px;
  }
  section,
  aside,
  footer {
    color: yellow;
  }
  /* ----------
    !!!! Grid, Grid !!!!
    ----------- */
  .castle-grid > div {
    display: grid;
    grid-template-rows: repeat(3, fr);
    grid-template-columns: repeat(3, 1fr);
  }

  #Saint-michel {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  #edinburgh {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  #disney {
    grid-column-start: 3;
    grid-row-start: 3;
  }
  /* ----------
!!!! Text !!!!
----------- */

  /* ----------
!!!! Image !!!!
----------- */

  .aside-img {
    width: 70px;
    border-radius: 10px;
  }
}
